/* ****************
          _______
         |.-----.|
         ||x . x||
         ||_.-._||
         `--)-(--`
         __[=== o]___
        |:::::::::::|\
jgs     `-=========-` */
/* <!-- GENERAL --> 
/* **************** */
/*
font 


font-family: 'Press Start 2P', cursive;
/* **************** */
/* <!-- GENERAL --> 
font 

/* font-family: Fira Mono,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; font-weight:400;*/
/* font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif; (pour le texte)
font-family: 'Anton', sans-serif; (pour le M)
font-family: 'Bebas Neue', cursive; (pour le titre)+(les liens)
font-family: 'Megrim', cursive; (texte bio)


 **************** */

/*@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
 /* **************** */
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Bebas Neue", cursive;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 542vh;
  overflow-x: hidden;
}

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- HEADER -->        -*@*-   */
/*-*@**    <!-- BARRE DE MENU -->    -*@*-  */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
header .container_de_la_nav {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- TITRE -->         -*@*-   */
/*-*@**      <!-- LA NAV -->         -*@*-  */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

/* SCROLL EFFET PARALAX SCROLL.JS */
#banner {
  background: url(../IMG/background_header.jpg) no-repeat center fixed;
  /* background-size: cover; */
}

nav {
  width: 100%;
  padding: 2vh;
  border-radius: 10px;
  z-index: 10;
  backdrop-filter: blur(15px);
  /* autre version */
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(138, 138, 138, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}
#logo_header {
  width: 15vh;
  max-height: 20vh;
  min-height: 15vh;
}
nav .container_nav {
  display: flex;
  flex-direction: column;
}
/* LOGO */
.titre_principale {
  text-align: center;
  width: 100%;
  padding: 1vh 1vw;
}
.titre_principale h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 0.3vw;
}
.lettre_m {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  background-color: rgb(183, 253, 21);
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: black;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  font-weight: 400;
}
nav ul li a:hover {
  color: rgb(183, 253, 21);
}

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- MAIN -->          -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7vw;
  width: 100%;
  background: rgb(242, 92, 92);
  background: linear-gradient(
    180deg,
    rgba(242, 92, 92, 1) 0%,
    rgba(226, 141, 76, 1) 6%,
    rgba(204, 182, 72, 1) 13%,
    rgba(195, 193, 82, 1) 20%,
    rgba(167, 199, 79, 1) 25%,
    rgba(141, 191, 78, 1) 32%,
    rgba(109, 181, 91, 1) 39%,
    rgba(95, 164, 111, 1) 45%,
    rgba(71, 143, 150, 1) 52%,
    rgba(81, 127, 150, 1) 59%,
    rgba(96, 115, 166, 1) 65%,
    rgba(110, 102, 182, 1) 71%,
    rgba(133, 76, 195, 1) 78%,
    rgba(152, 74, 181, 1) 86%,
    rgba(186, 62, 136, 1) 93%,
    rgba(242, 0, 84, 1) 100%
  );
}

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- MA BIO -->        -*@*-   */
/*-*@**  <!--  MINI BAR DE NAV -->  -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

/*  <!-- -------------------------- -->
    <!--  MINI BAR DE NAV LATERALE  -->
    <!-- -------------------------- --> */

/*MINI BAR DE NAV   */
.navbar {
  position: absolute;
  top: 18.2%;
  left: -13%;
  width: 18vw;
  color: #000;
}

.navbar ul {
  float: right;
  list-style: none;
  flex-direction: column;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 14px;
  border: 2px solid rgb(32, 32, 32);
}

.navbar ul li {
  display: inline-block;
  padding: 1vh 0.2vw;
  cursor: pointer;
  border-radius: 50px;
  transform: scale(1);
  transition: .5s;
}

.navbar ul li:hover {
  background: rgb(183, 253, 21);
  color: #000;
  transform: scale(2);
  transition: .5s;
}
.navbar ul li a img {
  width: 3vh;
}
/*   ACTIVE QUAND LE HEADER NA PLUS DE HAUTER  */
/* class utiliser pour le scroll  mini_bar_nav.js  */
.fixed {
  position: fixed;
  top: 11.5%;
  z-index: 100;
}

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- MA BIO -->        -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
/* ************* */

.container_de_ma_bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  max-width: 1000px;
}

/* BANDO MA BIO COULEUR VERT  */
.container_de_ma_bio .bando_ma_bio {
  display: flex;
  position: relative;
  left: 12%;
}
.container_de_ma_bio .bando_ma_bio .bio {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  font-weight: 400;
  background: rgb(183, 253, 21);
}

/* ---------------- */
/* <!-- MA BIO  SUITE--> */
/* ---------------- */

.container_de_ma_bio .texte_bio {
  padding: 2vh 4vw;
  margin-top: 8vh;
  text-align: left;
  font-family: Fira Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1rem;
  line-height: 35px;
  font-weight: 400;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(138, 138, 138, 0.2);
  box-shadow: 0 0 100px -1px #2f2e2e71;
  border: solid 1px #f7b624;
  border-radius: 10px;
}

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- PREMIER -->       -*@*-   */
/*-*@**    <!-- PREMIER BLOCK-->     -*@*-  */
/*-*@**    <!-- CONTAINER_PHOTO-->   -*@*-  */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
.premier {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 7vw;
  margin-top: 20vh;
  margin-bottom: 10vh;
}
.container_general {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
}
.container_general .bando_projet {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  font-weight: 400;
  background: rgb(183, 253, 21);
  min-width: 190px;
  max-width: 190px;

  overflow: hidden;
  padding: 0.5vh;
  margin-bottom: 5vh;
}
.container_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 7vh;
  row-gap: 4vh;
  margin-top: 3vh;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 20vh;
  min-width: 20vw;
  padding: 2vh 2vh;
  transition: 0.5s;
  border-radius: 12px;
  box-shadow: 8px 8px 20px rgba(128, 179, 81, 0.79),
             -8px -8px 20px rgba(174, 244, 110, 0.65);
}
.card a {
  color: #fff;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  border-radius: 6px;
  padding: 1vh;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 2px solid gold;
}
/* taille texte dans les cards */
.petit {
  font-size: 2rem;
}
.moyen {
  font-size: 5rem;
}
.gros {
  font-size: 6rem;
}

/* lien des images dans les cards  */
.items_1 {
  grid-column: span 2;
  background: url(../IMG/hack.png) center/cover;
}
.items_2 {
  background: url(../IMG/projet-ddos.png) center/cover;
}
.items_3 {
  background: url(../IMG/portfolio.png) center/cover;
}
.items_4 {
  grid-column: span 2;
  grid-row: span 2;
  background: url(../IMG/spam-mail.png) center/cover;
}
.items_5 {
  background: url(../IMG/coming_soon.jpg) center/cover;
}
.items_6 {
  background: url(../IMG/coming_soon.jpg) center/cover;
}
.items_7 {
  grid-row: span 4;
  grid-column: span 2;
  background: url(../IMG/CRUD.png) center/cover;
}
.items_8 {
  background: url(../IMG/coming_soon.jpg) center/cover;
}
.color {
  color: black;
}
.card:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**   <!-- DEUXIEME BLOCK -->   -*@*-   */
/*-*@**          <!-- TITRE -->     -*@*-   */
/*-*@**      <!-- BLOCK TEXTE -->   -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

.deuxieme {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1vh 1vw 1vh;
  align-items: center;
  margin-bottom: 30vh;
}
/* <!-- AVATAR--> */

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: -2vh;
}
.avatar img {
  height: 30vh;
}
/* <!-- BANDO CV+Link --> */
.block_texte .cv {
  position: absolute;
  top: 10%;
  left: -16%;
  color: black;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  font-weight: 400;
  background: rgb(183, 253, 21);
  padding: 1vh;
  line-height: 7vh;
  text-transform: uppercase;
  transform: rotate(-90deg) translate(-50%, 0);
  transform-origin: 0.75em center;
}

/* <!--  BLOCK TEXTE --> */
.deuxieme .block_texte {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vw;
  width: 60vw;
  font-family: Fira Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono, moospace;
  background-color: #394549;
  color: rgba(164, 164, 164, 0.5);
  border-radius: 12px;
  border: 1px solid gold;
  box-shadow: 0 0 100px -1px #2a2828;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.deuxieme .block_texte .symbole {
  color: #dad62d;
}
.deuxieme .block_texte .balise {
  color: #c83a3e;
}
.deuxieme .block_texte .balise2 {
  color: rgb(233, 154, 92);
}
.deuxieme .block_texte .contenue {
  color: rgb(139, 176, 207);
}
.deuxieme .block_texte .crocher {
  color: #d55cc5;
}
.deuxieme .block_texte .class {
  color: rgb(231, 33, 238);
}
.deuxieme .block_texte .id {
  color: rgb(44, 159, 236);
}
.deuxieme .block_texte a {
  color: #54b182;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.deuxieme .block_texte a:hover {
  color: #3fca57;
  text-decoration: none;
  border: 1px solid aliceblue;
}

/* BANDO CONTACT */
.contact {
  position: absolute;
  bottom: 4%;
  left: 18%;
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  font-weight: 400;
  background: rgb(183, 253, 21);
  padding: 1vh;
  z-index: 100;
}
/* lien image cv  */
.container_img_cv {
  margin-top:1vh;
  width: 100%;
  display: flex;
  justify-content: center;

}

#text_download_cv {
  color: #dad62d;
  transition: 0.5s;
  transform: scale(1);
  cursor: pointer;
}
#text_download_cv:hover{
  transform: scale(1.2);
  color:#c83a3e;
}
/* #text_download_cv:hover {
  transition: 0.5s;
  transform: scale(1.2);
} */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**         <!-- FOOTER -->     -*@*-   */
/*-*@**    <!-- FOOTER ARRAY  -->   -*@*-   */
/*-*@**  <!-- FOOTER CONTAINER -->  -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: rgb(56 69 72);
  border: 1px solid gold;
}
footer .container_footer {
  display: flex;
  flex-direction: column;
  width: 90%;
}
/* sous_container 1 */
footer .container_footer .sous_container_footer {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
  padding-right: 6vw;
  justify-content: space-between;
  border-bottom: 1px solid gold;
}
footer .container_footer .sous_container_footer .about {
  padding: 0 4vw 1vh 1vw;
}
footer .sous_container_footer .about p {
  color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

footer .sous_container_footer .emoji {
  position: relative;
  padding: 0 6vw;
}
footer .sous_container_footer .emoji img {
  position: absolute;
  transform: translate(-50%);
  bottom: 0;
  width: 20vh;
}
/* sous_container 2 */
footer .container_footer .sous_container_footer2 {
  display: flex;
  padding: 2vh 2vw 2vh 0;
  justify-content: space-between;
}
footer .container_footer .sous_container_footer2 .mention_legal {
  display: flex;
  width: 100%;
  padding: 1vh 2vh;
}
footer .container_footer .sous_container_footer2 .mention_legal p {
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 20px;
  font-weight: 100;
  margin-right: 10vw;
}
footer .container_footer .sous_container_footer2 .lien p {
  color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  padding: 1vh 1vw;
}
footer .container_footer .sous_container_footer2 .lien {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20vw;
}
footer .container_footer .sous_container_footer2 ul img {
  position: absolute;
  top: 0;
  width: 5vh;
  margin-right: 2vh;
}
/* placement du logo insta */
footer .container_footer .sous_container_footer2 ul .insta1 {
  top: 0;
  right: 30%;
}
footer .container_footer .sous_container_footer2 ul a .insta2 {
  top: 0;
  right: 30%;
  opacity: 0;
  transition: 0.5s;
}
/* hover logo insta */
footer .container_footer .sous_container_footer2 ul a .insta2:hover {
  opacity: 1;
  transition: 0.1s;
}
/* placement du logo linkdin */
footer .container_footer .sous_container_footer2 ul .linkd1 {
  top: 0;
  right: 20%;
}
footer .container_footer .sous_container_footer2 ul a .linkd2 {
  top: 0;
  right: 20%;
  opacity: 0;
  transition: 0.5s;
}
/* hover logo linkdin */
footer .container_footer .sous_container_footer2 ul a .linkd2:hover {
  opacity: 1;
  transition: 0.1s;
}
/* placement du logo github */
footer .container_footer .sous_container_footer2 ul .git1 {
  top: 0;
  right: 10%;
}
footer .container_footer .sous_container_footer2 ul a .git2 {
  top: 0;
  right: 10%;
  opacity: 0;
  transition: 0.5s;
}
/* hover logo github */
footer .container_footer .sous_container_footer2 ul a .git2:hover {
  opacity: 1;
  transition: 0.1s;
}
/* placement du logo mail */
footer .container_footer .sous_container_footer2 ul .mail1 {
  top: 0;
  right: 0;
}
footer .container_footer .sous_container_footer2 ul a .mail2 {
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
}
/* hover logo mail */
footer .container_footer .sous_container_footer2 ul a .mail2:hover {
  opacity: 1;
  transition: 0.1s;
}
/* placement du logo phone */
footer .container_footer .sous_container_footer2 ul .phone1 {
  top: 0;
  right: -10%;
}
footer .container_footer .sous_container_footer2 ul a .phone2 {
  top: 0;
  right: -10%;
  opacity: 0;
  transition: 0.5s;
}
/* hover logo mail */
footer .container_footer .sous_container_footer2 ul a .phone2:hover {
  opacity: 1;
  transition: 0.1s;
}

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**   <!------------------>     -*@*-   */
/*-*@**  ----- LES MEDIAS QUERY -----*@*-   */
/*-*@**   <!--------------------->  -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
@media all and (max-width: 1700px) {
  /* le slider */
  .slider {
    left: 55%;
  }
}
@media all and (max-width: 1500px) {
  .slider {
    left: 63%;
  }
  .premier .label {
    opacity: 1;
    left: 135%;
  }
  .premier:not(:hover) label {
    opacity: 1;
    visibility: visible;
  }
  .premier label:hover {
    left: 15%;
  }

  .premier label:nth-child(5) {
    width: 20%;
    top: 40%;
  }
  .premier label:nth-child(2) {
    top: 53%;
  }
  .premier label:nth-child(3) {
    top: 66%;
  }
  .premier label:nth-child(4) {
    top: 79%;
  }
}

@media all and (max-width: 1300px) {
  .premier .premier_block {
    width: 40vw;
  }
  .premier label:nth-child(1) {
    width: 20%;
    top: 40%;
  }
  .premier label:nth-child(2) {
    top: 53%;
  }
  .premier label:nth-child(3) {
    top: 66%;
  }
  .premier label:nth-child(4) {
    top: 79%;
  }
}

@media all and (max-width: 1100px) {
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
  /*-*@**  ----- la nav barre----*@*-   */
  /*-*@**   <!--------------------->  -*@*-   */
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

  nav {
    will-change: none;
    transform: none;
  }
  .container_de_ma_bio .bando_ma_bio .bio {
    font-size: 4rem;
  }

  /* BANDO    "LES PROJETS" */
  .premier .bando {
    height: 7vh;
    padding-right: 21vw;
  }
  .premier .bando .projets {
    font-size: 2rem;
  }
  .premier .label {
    -webkit-transform: rotate(325deg);
    -moz-transform: rotate(325deg);
    -ms-transform: rotate(325deg);
    -o-transform: rotate(325deg);
    transform: rotate(325deg);
  }
  /* quand la souris passe sur le contain
    /* les enfant de la balise premier 2 a 5  */
  .premier .label:nth-child(5) {
    top: 105%;
    left: 70%;
  }
  .premier .label:nth-child(2) {
    top: 105%;
    left: 28%;
  }
  .premier .label:nth-child(3) {
    top: 105%;
    left: 7%;
  }
  .premier .label:nth-child(4) {
    top: 105%;
    left: 49%;
  }
  /* le slider */

  .slider {
    width: 35em;
    height: 27em;
    left: 50%;
    top: 30%;
  }

  /* deuxieme block texte */
  .deuxieme .block_texte {
    width: 70vw;
  }
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
  /*-*@**  ----- deuxieme block----*@*-   */
  /*-*@**   <!--------------------->  -*@*-   */
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

  .contact {
    bottom: 6%;
    font-size: 3rem;
  }

  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
  /*-*@**  ----- FOOTER-----*@*-   */
  /*-*@**   <!--------------------->  -*@*-   */
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
}
@media all and (max-width: 1000px) {
  footer .container_footer .sous_container_footer2 .lien p {
    display: none;
  }
}

@media all and (max-width: 930px) {
  .titre_principale h1 {
    font-size: 8rem;
  }
  /* texte du footer  */
  footer .sous_container_footer .about p {
    font-size: 15px;
  }
  /* texte du footer  */
  footer .container_footer .sous_container_footer2 .mention_legal p {
    font-size: 15px;
  }
  /* mot"lien" footer  */
  footer .container_footer .sous_container_footer2 .lien {
    padding-right: 30vw;
  }

  /* logo insta */
  footer .container_footer .sous_container_footer2 ul .insta1 {
    display: none;
  }
  footer .container_footer .sous_container_footer2 ul a .insta2 {
    right: 41%;
  }
  footer .container_footer .sous_container_footer2 ul a .insta2:not(:hover) {
    opacity: 1;
  }

  /* logo linkd */
  footer .container_footer .sous_container_footer2 ul .linkd1 {
    display: none;
  }
  footer .container_footer .sous_container_footer2 ul a .linkd2 {
    right: 28%;
  }
  footer .container_footer .sous_container_footer2 ul a .linkd2:not(:hover) {
    opacity: 1;
  }

  /* logo git */
  footer .container_footer .sous_container_footer2 ul .git1 {
    display: none;
  }
  footer .container_footer .sous_container_footer2 ul a .git2 {
    right: 16%;
  }
  footer .container_footer .sous_container_footer2 ul a .git2:not(:hover) {
    opacity: 1;
  }

  /* logo mail */
  footer .container_footer .sous_container_footer2 ul .mail1 {
    display: none;
  }
  footer .container_footer .sous_container_footer2 ul a .mail2 {
    right: 4%;
  }
  footer .container_footer .sous_container_footer2 ul a .mail2:not(:hover) {
    opacity: 1;
  }

  /* logo phone */
  footer .container_footer .sous_container_footer2 ul .phone1 {
    display: none;
  }

  footer .container_footer .sous_container_footer2 ul a .phone2:not(:hover) {
    opacity: 1;
  }
}
@media all and (max-width: 850px) {
  .titre_principale h1 {
    font-size: 7rem;
  }
  .premier .label:nth-child(5) {
    top: 105%;
    left: 70%;
    width: 28%;
  }
  .premier .label:nth-child(2) {
    top: 105%;
    left: 28%;
    width: 28%;
  }
  .premier .label:nth-child(3) {
    top: 105%;
    left: 7%;
    width: 28%;
  }
  .premier .label:nth-child(4) {
    top: 105%;
    left: 49%;
    width: 28%;
  }
}

@media all and (max-width: 730px) {
  .titre_principale h1 {
    font-size: 6rem;
  }
  #banner {
    padding: 17vh;
  }
  .premier {
    padding: 0;
  }
  .premier .container_general {
    align-items: center;
  }
  .premier .container_general .bando_projet {
    width: 22vh;
  }
}
@media all and (max-width: 700px) {
  nav .container_nav {
    display: flex;
    flex-direction: row-reverse;
  }
  .titre_principale {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .titre_principale h1 {
    font-size: 10vh;
  }
  .lettre_m {
    font-size: 8vh;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 7vw;
  }

  .slider {
    width: 25em;
    height: 16.75em;
    left: 50%;
    top: 40%;
  }

  /* logo insta */
  footer .container_footer .sous_container_footer2 ul a .insta2 {
    right: 54%;
  }
  /* logo linkd */
  footer .container_footer .sous_container_footer2 ul a .linkd2 {
    right: 37%;
  }
  /* logo git */
  footer .container_footer .sous_container_footer2 ul a .git2 {
    right: 21%;
  }
  /* logo mail */
  footer .container_footer .sous_container_footer2 ul a .mail2 {
    right: 6%;
  }
}
@media all and (max-width: 650px) {
  #banner {
    padding: 10vh;
  }
}
@media all and (max-width: 500px) {
  nav {
    width: 90vw;
  }
  nav .container_nav {
    display: flex;
    flex-direction: row-reverse;
  }
  .titre_principale {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .titre_principale h1 {
    font-size: 10vh;
  }
  .lettre_m {
    font-size: 8vh;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 7vw;
  }

  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
  /*-*@**  -----        MA BIO    -----*@*-   */
  /*-*@**   <!--------------------->  -*@*-   */
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

  .navbar {
    display: none;
  }
  .container_de_ma_bio .bando_ma_bio {
    left: 0;
  }
  .container_de_ma_bio .bando_ma_bio .bio {
    font-size: 4rem;
  }
  .container_de_ma_bio .texte_bio {
    font-size: 12px;
  }
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
  /*-*@**  ----- PREMIER BLOCK-----*@*-   */
  /*-*@**   <!--------------------->  -*@*-   */
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

  .container_cards {
    grid-template-columns: 1fr 1fr;
    column-gap: 3vh;
  }
  /* le slider */

  .slider {
    width: 21em;
    height: 16.75em;
    left: 50%;
    top: 40%;
  }

  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
  /*-*@**  ----- DEUXIEME BLOCK-----*@*-   */
  /*-*@**   <!--------------------->  -*@*-   */
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
  .avatar img {
    height: 16vh;
  }
  .deuxieme {
    padding-bottom: 10vh;
    margin-bottom: 15vh;
  }
  .deuxieme .block_texte {
    width: 96%;
    padding: 3vh 1vw;
    font-size: 10px;
  }
  .block_texte .cv {
    transform: none;
    top: 0;
    left: 100px;
    padding: 0;
    font-size: 18px;
    line-height: 5vh;
  }
  .contact {
    display: none;
  }
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
  /*-*@**  ----- FOOTER-----*@*-   */
  /*-*@**   <!--------------------->  -*@*-   */
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
  footer .container_footer .sous_container_footer {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .container_footer .sous_container_footer2 .lien p {
    display: none;
  }
  footer .sous_container_footer .emoji img {
    bottom: 11px;
    left: 18%;
  }

  /* logo insta */
  footer .container_footer .sous_container_footer2 ul a .insta2 {
    right: 64%;
  }
  /* logo linkd */
  footer .container_footer .sous_container_footer2 ul a .linkd2 {
    right: 28%;
  }
  /* logo git */
  footer .container_footer .sous_container_footer2 ul a .git2 {
    right: 27%;
    top: 41%;
  }
  /* logo mail */
  footer .container_footer .sous_container_footer2 ul a .mail2 {
    right: 63%;
    top: 41%;
  }
  /* logo phone */
}
@media all and (max-width: 435px) {
  .slider {
    width: 17em;
    height: 12.75em;
    left: 50%;
    top: 40%;
  }
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
  /*-*@**  ----- FOOTER-----*@*-   */
  /*-*@**   <!--------------------->  -*@*-   */
  /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
}

@media all and (max-width: 330px) {
  .slider {
    width: 14em;
    height: 9.75em;
  }
}

@media all and (max-width: 300px) {
  nav ul li a {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 270px) {
  nav ul li a {
    font-size: 2rem;
  }
}
