
/* ****************
          _______
         |.-----.|
         ||x . x||
         ||_.-._||
         `--)-(--`
         __[=== o]___
        |:::::::::::|\
jgs     `-=========-` */
/* <!-- GENERAL --> 
/* **************** */
/*
font 


font-family: 'Press Start 2P', cursive;
/* **************** */
/* <!-- GENERAL --> 
font 

/* font-family: Fira Mono,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; font-weight:400;*/
/* font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif; (pour le texte)
font-family: 'Anton', sans-serif; (pour le M)
font-family: 'Bebas Neue', cursive; (pour le titre)+(les liens)
font-family: 'Megrim', cursive; (texte bio)


 **************** */


 @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
 /* **************** */ 
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none;
 } 
body{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    /* height:720vh; */
    border-radius:12px;
    overflow-x:hidden;
    max-width:1800px
} 
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- CURSOR STYLE -->        -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

/* .cercle1{
    height:20px;
    width:20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:2px solid red;

}
.cercle2{
    height:20px;
    width:20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:2px solid red;


}
.cercle3{
    height:20px;
    width:20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:2px solid red;

}
.cercle4{
    height:20px;
    width:20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:2px solid red;

}
.cercle5{
    height:20px;
    width:20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:2px solid red;

}
.cercle6{
    height:20px;
    width:20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:2px solid red;


} */


/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- HEADER -->        -*@*-   */
/*-*@**    <!-- BARRE DE MENU -->    -*@*-  */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/



 header{
     display:flex;
     justify-content:center;
     align-items:center;
     width: 100%;
     height: 100vh;
     padding: 25vh 23vw 35vh 23vw;
     
 }
 header .container_de_la_nav{
     display:flex; 
     position: relative;
     align-items:center;
     justify-content:center;
     width: 100%;
     height: 100%;
     
    
 }

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- TITRE -->         -*@*-   */
/*-*@**      <!-- LA NAV -->         -*@*-  */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

/* SCROLL EFFET PARALAX SCROLL.JS */
#banner { 
    background: url(https://images.unsplash.com/photo-1483357962636-e8cc552b1a08?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80) no-repeat fixed 10% 100%; 
    background-size: cover; 
    
}

nav{
    width: 100%;
    height: 100%;
    padding:2vh;
    border-radius:10px;
    z-index: 10;
    backdrop-filter: blur(15px);
    /* autre version */
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(138, 138, 138, 0.2);
    border:2px solid rgba(255, 255, 255, .2);
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    border: 2px solid #fff; 
    
   
}
nav .container_nav{
    display:flex;
    flex-direction:column;
}
/* LOGO */
header img {
    position: absolute;
    top:-11%;
    left:50%;
    transform:translate(-50%);
    width: 15vh
}
.titre_principale{
    text-align:center;
    width:100%;
    padding:1vh 1vw;
}
.titre_principale h1{
    font-family: 'Bebas Neue', cursive; 
    font-size:9rem;
    font-weight:400;
    letter-spacing:.3vw;
    
}
.lettre_m{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    background-color: rgb(183, 253, 21);
}
ul{
    display:flex;
    justify-content:space-evenly;
    list-style:none;
    
}

nav ul li a{ 
    text-decoration:none;
    transition: all .3s ease;
    color: black;
    font-family:'Bebas Neue', cursive;
    font-size:3rem;
    font-weight:400;

}
nav ul li a:hover{
    color: rgb(183, 253, 21);
}



/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- MAIN -->          -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/




/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- MAIN -->          -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

main{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    background: rgb(242,92,92);
    background: linear-gradient(180deg, rgba(242,92,92,1) 0%, rgba(226,141,76,1) 6%, rgba(204,182,72,1) 13%, rgba(195,193,82,1) 20%, rgba(167,199,79,1) 25%, rgba(141,191,78,1) 32%, rgba(109,181,91,1) 39%, rgba(95,164,111,1) 45%, rgba(71,143,150,1) 52%, rgba(81,127,150,1) 59%, rgba(96,115,166,1) 65%, rgba(110,102,182,1) 71%, rgba(133,76,195,1) 78%, rgba(152,74,181,1) 86%, rgba(186,62,136,1) 93%, rgba(242,0,84,1) 100%);
}


/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- MA BIO -->        -*@*-   */
/*-*@**  <!--  MINI BAR DE NAV -->  -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

/*  <!-- -------------------------- -->
    <!--  MINI BAR DE NAV LATERALE  -->
    <!-- -------------------------- --> */



   /*MINI BAR DE NAV   */
.navbar{
    position: absolute;
    top:18.2%;
    left: -13%;
    width: 18vw;
    color: #000;
}

.navbar ul{
    float: right;
    list-style: none;
    flex-direction: column;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 14px;
    border: 2px solid rgb(32, 32, 32);
}

.navbar ul li{
    display: inline-block;
    padding:1vh .2vw;
    cursor: pointer;
    border-radius: 50px;
    transform: scale(1);

}

.navbar ul li:hover{
    background: rgb(183, 253, 21);
    color:#000;
    transform:scale(2)
}
.navbar ul li a img{
    width:3vh;
}
/*   ACTIVE QUAND LE HEADER NA PLUS DE HAUTER  */
/* class utiliser pour le scroll  mini_bar_nav.js  */
.fixed{
    position:fixed;
    top:11.5%;
    z-index: 100;
}


/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- MA BIO -->        -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
/* ************* */

.container_de_ma_bio{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align:center;
    padding: 6vh 19vw 17vw;
    

}
.container_de_ma_bio .container_boulle1{
    display: flex;
    height:30vh;
    width:50%;
    position: absolute;
}
/* -------------------- */
/* <!-- BOULLE DECO --> */
/* -------------------- */
.container_de_ma_bio .container_boulle1 .boulle_bio1{
    position: absolute;
    top: 297%;
    left: 80%;
    height:50vh;
    width: 30vw;
    background: linear-gradient(215deg, #9d3574 35.71%, rgb(255, 218, 143) 76.47%);
    clip-path: circle(22% at 52% 57%);
    
}
.container_de_ma_bio .container_boulle1 .boulle_bio2{
    position: absolute;
    top: -10%;
    left: -16%;
    height:50vh;
    width: 30vw;
    background: linear-gradient(178deg, rgb(252, 204, 204) 0.84%, rgb(77, 130, 162) 37.39%, rgb(103, 32, 105) 72.28%, #000000);
    clip-path: circle(19% at 53% 50%);
    
}

/* BANDO MA BIO COULEUR VERT  */
.container_de_ma_bio .bando_ma_bio{
    display:flex;
    position: relative;
    left: 12%;
}
.container_de_ma_bio .bando_ma_bio .bio{
    font-family:'Bebas Neue', cursive;
    font-size:5rem;
    font-weight:400;
    background: rgb(183, 253, 21);
    
}

/* ---------------- */
/* <!-- MA BIO  SUITE--> */
/* ---------------- */

.container_de_ma_bio .texte_bio{
    padding:2vh 4vw;
    margin-top:8vh;
    text-align: left;
    font-family: Fira Mono,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; 
    font-size:1rem;
    line-height:35px;
    font-weight: 400;
    backdrop-filter: blur(15px) ;
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(138, 138, 138, 0.2);
    box-shadow: 0 0 100px -1px #2f2e2e71;
    border: solid 1px;
    border-color: #f7b624;
    border-radius: 10px;

}


/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**      <!-- PREMIER -->       -*@*-   */
/*-*@**    <!-- PREMIER BLOCK-->     -*@*-  */
/*-*@**    <!-- CONTAINER_PHOTO-->   -*@*-  */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/



.premier{
    width: 100%;
    height: 81vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 10vh 2vw 0vh;
    margin-bottom: 20vh;
}
/* Navigation */
.premier .label { 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(17, 17, 17, 0.377);
    border: 1px solid gold;
    border-radius:12px;
    left: 20%;
    cursor: pointer;
    height:10%;
    width: 20%;
    opacity: 0;
    transition: .25s;
    visibility: hidden;
    z-index: 1;
    
}
/* quand la souris passe sur le container pour faire apparaitre les label  */
.premier:hover label {
    opacity: 1;
    visibility: visible;
    left: 10%;  
} 
/* texte dans label*/
.premier label p{
    font-family: 'Bebas Neue', cursive;
 }
/* les enfant de la balise premier 2 a 5  */
.premier .label:nth-child(5){
    top:40%;
}
.premier .label:nth-child(2){
    top: 53%;
}
.premier .label:nth-child(3){
    top: 66%;
}
.premier .label:nth-child(4){
    top: 79%;
}
/* emoji dans le label   */
.premier label img{
    width:4vw;
}


.premier label:hover{
    background-color: rgba(172, 255, 47, 0.15);
}


.premier .bando{
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
    width:100%;
    height:10vh;

}
.premier .bando .projets{
    font-family:'Bebas Neue', cursive;
    font-size:4rem;
    font-weight:400;
    background: rgb(183, 253, 21);
    padding:1vh;
}


  /**********/
 /* Slider */
/**********/

.slider {
    background-color: #fff;
    height: 28.75em;
    left: 56%;
    transform: translate(-50%);
    padding: .5em;
    position: absolute;
    top: 37%;
    width: 37em;
}

/* Frame */

.slider:before {
    background-color: #22130c;
    bottom: -2.5em;
    box-shadow: 0 33px 40px 0 rgba(0, 0, 0, 0.82);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}

/* Mat */

.slider:after {
    background-color: #fff5e5;
    bottom: -1.5em;
    box-shadow:inset 0 2px 3px 1px hsla(0,0%,0%,.2),
    inset 0 4px 3px 1px hsla(0,0%,0%,.2),
    inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}

/* Slides */

.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider input {
    display: none;
}
.slider li a {
    display: inline-block;
    height:100%;

}



/* Images */

.slider img{
    height: 18.75em;
    opacity: 0;
    transition: .25s;
    width: 25em;
    vertical-align: top;
    visibility: hidden;
}
.slider img{
    height: 100%;
    width: 100%;
}
.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}




/* -------------------- */
/* <!-- BOULLE DECO --> */
/* -------------------- */

.premier .container_boulle {
    display: flex;
    height:10vh;
    width:10vh;
    position: relative;
}
.premier .container_boulle .boulle_bio{
    position: absolute;
    top: 730%;
    left: -650%;
    height: 30vh;
    width: 20vw;
    background: repeating-linear-gradient(158deg, rgb(251, 251, 251) 0.42%, #e2e17c 13.03%, rgb(201, 152, 108) 33.19%, rgb(87, 38, 101) 67.23%, rgb(6, 1, 7) 86.98%, #160404 98.32%);
    clip-path: circle(25% at 55% 46%);

    
}


/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**   <!-- DEUXIEME BLOCK -->   -*@*-   */
/*-*@**          <!-- TITRE -->     -*@*-   */
/*-*@**          <!-- BOULLES-->    -*@*-   */
/*-*@**      <!-- BLOCK TEXTE -->   -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/



.deuxieme{
    display:flex;
    flex-direction:column;
    width:100%;
    padding:1vh 1vw 1vh;
    align-items:center;
    margin-bottom: 30vh;
}
.deuxieme .container_boulle{
    display:flex;
    height:3vh;
    width:100%;

    position:relative;
    margin-right: -11vh;
}

/* -------------------- */
/* <!-- BOULLE DECO --> */
/* -------------------- */

.container_boull2{
    display: flex;
    height: 10vh;
    position: relative;
}
.container_boulle2 .boulle_bio1{
    position: absolute;
    left: 51%;
    top: -10%;
    height: 42vh;
    width: 50vw;
    background: linear-gradient(208deg, rgb(255, 249, 177) 11.76%, #f8eb4c 15.97%, rgb(251, 90, 44) 36.13%, #ae2d31 45.8%, rgb(0, 0, 0) 63.03%);
    clip-path: circle(25% at 75% 45%);

}
.container_boulle3{
    display: flex;
    height: 10vh;
    position: relative;
}
.container_boulle3 .boulle_bio2{
    position: absolute;
    top: -200%;
    left: 100%;
    height: 40vh;
    width: 45vw;
    background: repeating-linear-gradient(185deg, rgb(221, 210, 229), rgb(246, 64, 93) 33.19%, rgb(65, 31, 27) 60.08%, rgb(12, 7, 16) 69.75%, rgb(5, 1, 7) 95.38%);
    clip-path: circle(19% at 38% 52%);
}


.container_boulle3 .boulle_bio4{
    position: absolute;
    top:0%;
    right: 200%;
    height: 40vh;
    width: 45vw;
    background: repeating-linear-gradient(#7298f2, rgb(32, 229, 210) 20.59%, rgb(190, 19, 19) 60.5%, #160404 85.29%);
    clip-path: circle(10% at 51% 43%);
   
    
}

 /* <!-- AVATAR--> */

.avatar{
    display:flex;
    justify-content: center;
    margin-bottom: -2vh;

}
.avatar img{
    height: 30vh;
}
/* <!-- BANDO CV+Link --> */
.block_texte .cv{
    position:absolute;
    top: 10%;
    left: -16%;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 400;
    background: rgb(183, 253, 21);
    padding: 1vh;
    line-height: 7vh;
    text-transform: uppercase;
    transform:rotate(-90deg) translate( -50%,0);
    transform-origin:0.75em center;
}

/* <!--  BLOCK TEXTE --> */
.deuxieme .block_texte{
    position: relative;
    display:flex;
    flex-direction:column;
    padding:3vh 5vw;
    width:50vw;
    font-family: Fira Mono,Consolas,Monaco,Andale Mono,Ubuntu Mono,moospace;
    background-color:#394549;
    color: rgba(164, 164, 164, 0.5);
    border-radius:12px;
    border:1px solid;
    border-color: gold;
    box-shadow: 0 0 100px -1px #2a2828;
     -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%
}


.deuxieme .block_texte .symbole{
    color: #dad62d;
}
.deuxieme .block_texte .balise{
    color: #c83a3e;
}
.deuxieme .block_texte .balise2{
    color: rgb(233, 154, 92);
}
.deuxieme .block_texte .contenue{
    color: rgb(139, 176, 207);
}
.deuxieme .block_texte .crocher{
    color: #d55cc5;
}
.deuxieme .block_texte .class{
    color:rgb(231, 33, 238)
}
.deuxieme .block_texte .id{
    color:rgb(44, 159, 236)
}
.deuxieme .block_texte a{
    color:#54b182;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    
}

.deuxieme .block_texte a:hover{
    color:#3fca57;
    text-decoration: none;
    border:1px solid;
    border-color: aliceblue;
}

/* BANDO CONTACT */
.contact{
    position: absolute;
    bottom: 4%;
    left: 18%;
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    font-weight: 400;
    background: rgb(183, 253, 21);
    padding: 1vh;
    z-index: 100;
}


/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**         <!-- FOOTER -->     -*@*-   */
/*-*@**    <!-- FOOTER ARRAY  -->   -*@*-   */
/*-*@**  <!-- FOOTER CONTAINER -->  -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
footer{
    width:100% ;
    display:flex;
    justify-content:space-evenly;
    background: rgb(56 69 72);
    border: 1px solid gold;
}
footer .container_footer{
    display:flex;
    flex-direction:column;
    width:90%;
    
}
/* sous_container 1 */
footer .container_footer .sous_container_footer{
    display:flex;
    flex-direction:row;
    padding-top:2vh;
    padding-right: 6vw;
    justify-content: space-between;
    border-bottom: 1px solid gold;
}
footer .container_footer .sous_container_footer .about{
    padding: 0 4vw 1vh 1vw;
}
footer .sous_container_footer .about p{
    color:gray;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}

footer .sous_container_footer .emoji {
    position: relative;
    padding: 0 6vw;
}
footer .sous_container_footer .emoji img{
    position: absolute;
    transform: translate(-50%);
    bottom: 0;
    width:20vh;
    
}
/* sous_container 2 */
footer .container_footer .sous_container_footer2 {
    display:flex;
    padding: 2vh 2vw 2vh 0;
    justify-content:space-between;
}
footer .container_footer .sous_container_footer2 .mention_legal{
    display:flex;
    width:100%;
    padding:1vh 2vh;
    width:100%;
}
footer .container_footer .sous_container_footer2 .mention_legal p{
    font-family: 'Roboto', sans-serif;
    color:gray;
    font-size: 20px;
    font-weight: 100;
    margin-right: 10vw;
}
footer .container_footer .sous_container_footer2 .lien p{
    
    color:gray;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    padding:1vh 1vw;
    
}
footer .container_footer .sous_container_footer2 .lien{
    display:flex;
    position: relative;
    align-items:center;
    justify-content:flex-end;
    width:100%;
    padding-right: 20vw;
}
footer .container_footer .sous_container_footer2 ul img{
    position: absolute;
    top:0;
    width:5vh;
    margin-right: 2vh;
}
/* placement du logo insta */
footer .container_footer .sous_container_footer2 ul .insta1{
    top:0;
    right:30%;
}
footer .container_footer .sous_container_footer2 ul a .insta2{
    top:0;
    right:30%;
    opacity:0;
    transition:.5s;
}
/* hover logo insta */
footer .container_footer .sous_container_footer2 ul a .insta2:hover{
    opacity:1;
    transition:.1s;
}
/* placement du logo linkdin */
footer .container_footer .sous_container_footer2 ul .linkd1{
    top:0;
    right:20%;
}
footer .container_footer .sous_container_footer2 ul a .linkd2{
    top:0;
    right:20%;
    opacity:0;
    transition:.5s;
}
/* hover logo linkdin */
footer .container_footer .sous_container_footer2 ul a .linkd2:hover{
    opacity:1;
    transition:.1s;
}
/* placement du logo github */
footer .container_footer .sous_container_footer2 ul .git1{
    top:0;
    right:10%;
}
footer .container_footer .sous_container_footer2 ul a .git2{
    top:0;
    right:10%;
    opacity:0;
    transition:.5s;
}
/* hover logo github */
footer .container_footer .sous_container_footer2 ul a .git2:hover{
    opacity:1;
    transition:.1s;
}
/* placement du logo mail */
footer .container_footer .sous_container_footer2 ul .mail1{
    top:0;
    right:0%;
}
footer .container_footer .sous_container_footer2 ul a .mail2{
    top:0;
    right:0%;
    opacity:0;
    transition:.5s;
}
/* hover logo mail */
footer .container_footer .sous_container_footer2 ul a .mail2:hover{
    opacity:1;
    transition:.1s;
}
/* placement du logo phone */
footer .container_footer .sous_container_footer2 ul .phone1{
    top:0;
    right:-10%;
}
footer .container_footer .sous_container_footer2 ul a .phone2{
    top:0;
    right:-10%;
    opacity:0;
    transition:.5s;
}
/* hover logo mail */
footer .container_footer .sous_container_footer2 ul a .phone2:hover{
    opacity:1;
    transition:.1s;
}

/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
/*-*@**   <!------------------>     -*@*-   */
/*-*@**  ----- LES MEDIAS QUERY -----*@*-   */
/*-*@**   <!--------------------->  -*@*-   */
/* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
@media all and (max-width:1700px){
    /* le slider */
    .slider{
        left:55%;
    }
}
@media all and (max-width:1500px){
    header{
        padding: 25vh 23vw 22vh 23vw;
    }
    header img{
        width: 19vh;
        top: -17%;
    }
    .slider {
        left: 63%;
    }
    .premier .label{
        opacity: 1;
        left: 135%
    }
    .premier:not(:hover) label {
        opacity: 1;
        visibility: visible; 
    } 
    .premier label:hover{
        left: 15%;
    }

    .premier label:nth-child(5){
        width:20%;
        top: 40%;
    }
    .premier label:nth-child(2){
        top: 53%;
    }
    .premier label:nth-child(3){
        top: 66%;
    }
    .premier label:nth-child(4){
        top: 79%;
    }

   
}



@media all and (max-width:1300px){
    header{
        padding: 25vh 23vw 22vh 23vw;
    }

    header img{
        width: 19vh;
    }

    .premier .premier_block{
        width: 40vw;
    }
    .premier label:nth-child(1){
        width:20%;
        top: 40%;
    }
    .premier label:nth-child(2){
        top: 53%;
    }
    .premier label:nth-child(3){
        top: 66%;
    }
    .premier label:nth-child(4){
        top: 79%;
    }
}


@media all and (max-width:1100px){
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
    /*-*@**  ----- la nav barre----*@*-   */
    /*-*@**   <!--------------------->  -*@*-   */
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
    header{
        padding: 22vh 15vw 31vh 15vw;
    }
    nav {
        will-change: none;
        transform:none;
    }
    
    nav ul li a{
        font-size:2rem;
    }
    
    .container_de_ma_bio{
        padding: 6vh 10vw 17vw;
    }


    .container_de_ma_bio .bando_ma_bio .bio {
        font-size: 4rem;
    }

    .premier{
        height:90vh;
        padding: 8vh 2vw 0vh;
        margin-bottom: 20vh;
        
    }
    /* BANDO    "LES PROJETS" */
    .premier .bando{
        height: 7vh;
        padding-right: 21vw;
    }
    .premier .bando .projets{
        font-size:2rem;
        padding: 2vh 2vw;
    }
    .premier .label { 
    
        -webkit-transform: rotate(325deg);
        -moz-transform: rotate(325deg);
         -ms-transform: rotate(325deg);
          -o-transform: rotate(325deg);
             transform: rotate(325deg);
        
    }
    /* quand la souris passe sur le contain
    /* les enfant de la balise premier 2 a 5  */
    .premier .label:nth-child(5){
        top: 105%;
        left: 70%;
    }
    .premier .label:nth-child(2){
        top: 105%;
        left: 28%;
    }
    .premier .label:nth-child(3){
        top: 105%;
        left: 7%;
    }
    .premier .label:nth-child(4){
        top: 105%;
        left: 49%;
    }
    /* le slider */

    .slider{
        width: 35em;
        height: 27em;
        left:50%;
        top: 30%;
    }
    

    

    /* deuxieme block texte */
    .deuxieme .block_texte{
        width: 70vw;
    }
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
    /*-*@**  ----- deuxieme block----*@*-   */
    /*-*@**   <!--------------------->  -*@*-   */
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

    .contact{
        bottom: 6%;
        font-size:3rem;
    }

    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
    /*-*@**  ----- FOOTER-----*@*-   */
    /*-*@**   <!--------------------->  -*@*-   */
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
    
    footer{
      

    }
    
}
@media all and (max-width:1000px) {
    header {
        padding: 26vh 15vw 31vh 15vw;
    }
    header img{
        width:18vh
    }
    footer .container_footer .sous_container_footer2 .lien p{
        display:none;
    }
    
}

@media all and (max-width:930px){
    header {
        padding: 26vh 15vw 35vh 15vw;
    }
    header img{
        top: -19%;
    }
    .titre_principale h1{
        font-size:8rem;
    }
    /* texte du footer  */
    footer .sous_container_footer .about p {
        font-size: 15px;
    }
    /* texte du footer  */
    footer .container_footer .sous_container_footer2 .mention_legal p{
        font-size: 15px;
    }
    /* mot"lien" footer  */
    footer .container_footer .sous_container_footer2 .lien {
        padding-right: 30vw;
    }


    /* logo insta */
    footer .container_footer .sous_container_footer2 ul .insta1{
        display: none;
    }
    footer .container_footer .sous_container_footer2 ul a .insta2{
        right:41%;
    }
    footer .container_footer .sous_container_footer2 ul a .insta2:not(:hover) {
        opacity:1;
    }

    /* logo linkd */
    footer .container_footer .sous_container_footer2 ul .linkd1 {
        display:none;
    }
    footer .container_footer .sous_container_footer2 ul a .linkd2 {
        right: 28%;
    }
    footer .container_footer .sous_container_footer2 ul a .linkd2:not(:hover) {
        opacity:1;
    }

    /* logo git */
    footer .container_footer .sous_container_footer2 ul .git1 {
        display:none;
    }
    footer .container_footer .sous_container_footer2 ul a .git2 {
        right: 16%;
    }
    footer .container_footer .sous_container_footer2 ul a .git2:not(:hover) {
        opacity:1;
    }

    /* logo mail */
    footer .container_footer .sous_container_footer2 ul .mail1 {
       display:none;
    }
    footer .container_footer .sous_container_footer2 ul a .mail2 {
        right: 4%;
    }
    footer .container_footer .sous_container_footer2 ul a .mail2:not(:hover) {
       opacity:1;
    }

    /* logo phone */
    footer .container_footer .sous_container_footer2 ul .phone1 {
        display:none;
    }
    
    footer .container_footer .sous_container_footer2 ul a .phone2:not(:hover) {
        opacity: 1;
    }
  
}
@media all and (max-width:850px){
    header img{
        top: -22%;
    }
    .titre_principale h1{
        font-size:7rem;
    }
    .premier .label:nth-child(5){
        top: 105%;
        left: 70%;
        width:28%;
    }
    .premier .label:nth-child(2){
        top: 105%;
        left: 28%;
        width:28%;
    }
    .premier .label:nth-child(3){
        top: 105%;
        left: 7%;
        width:28%;
    }
    .premier .label:nth-child(4){
        top: 105%;
        left: 49%;
        width:28%;
    }
   
}

@media all and (max-width:730px){
    .titre_principale h1{
        font-size:6rem;
    }

   
}
@media all and (max-width:700px){
    header {
        padding: 22vh 25vw 31vh 25vw;
    }
    
    header img{
        top:-39%;
    }
    nav{
        width: 90vw;
        height: 49vh;
    }
    nav .container_nav{
        display: flex;
        flex-direction: row-reverse;
    }
    .titre_principale{

        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    .titre_principale h1{
        font-size: 10vh;
    }
    .lettre_m{
        font-size: 8vh;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding-left: 7vw;
    }

    /* bando bio */
    .premier {
        height: 60vh;
        padding: 8vh 2vw 0vh;
        margin-bottom: 20vh;
    }

    .slider {
        width: 25em;
        height: 16.75em;
        left: 50%;
        top: 40%;
    }

    /* logo insta */
    footer .container_footer .sous_container_footer2 ul a .insta2{
        right:54%;
    }
    /* logo linkd */
    footer .container_footer .sous_container_footer2 ul a .linkd2 {
        right: 37%;
    }
    /* logo git */
    footer .container_footer .sous_container_footer2 ul a .git2 {
        right: 21%;
    }
    /* logo mail */
    footer .container_footer .sous_container_footer2 ul a .mail2 {
        right: 6%;
    }
   
}

@media all and (max-width:500px){
   
    header img{
        top:-39%;
    }
    nav{
        width: 90vw;
        height: 49vh;
    }
    nav .container_nav{
        display: flex;
        flex-direction: row-reverse;
    }
    .titre_principale{

        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    .titre_principale h1{
        font-size: 10vh;
    }
    .lettre_m{
        font-size: 8vh;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding-left: 7vw;
    } 
    
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
    /*-*@**  -----        MA BIO    -----*@*-   */
    /*-*@**   <!--------------------->  -*@*-   */
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/

    .navbar{
        display:none;
    }
    .container_de_ma_bio{
        padding: 11vh 1vw 17vw;
    }
    .container_de_ma_bio .bando_ma_bio{
        left: 0;
    }
    .container_de_ma_bio .bando_ma_bio .bio {
        font-size: 4rem;
        
    }
    .container_de_ma_bio .texte_bio{
        font-size: 12px;
    }
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
    /*-*@**  ----- PREMIER BLOCK-----*@*-   */
    /*-*@**   <!--------------------->  -*@*-   */
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
    .premier{
        padding: 8vh 2vw 0vh;
    }
    /* BANDO    "LES PROJETS" */
    .premier .bando{
        height:6vh;
        padding-right: 28vw;
    }
    .premier .label{
        transform: rotate(270deg);
    }
    .premier .label:nth-child(5){
        top: 94%;
        left: 65%;
        width:35%;
    }
    .premier .label:nth-child(2){
        top: 94%;
        left: 22%;
        width:35%;
    }
    .premier .label:nth-child(3){
        top: 94%;
        left: 1%;
        width:35%;
    }
    .premier .label:nth-child(4){
        top: 94%;
        left: 43%;
        width:35%;
    }
   

    /* le slider */


    .slider{
        width: 21em;
        height: 16.75em;
        left:50%;
        top: 40%;
    }
   

     /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
    /*-*@**  ----- DEUXIEME BLOCK-----*@*-   */
    /*-*@**   <!--------------------->  -*@*-   */
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
    .avatar img{
        height: 16vh;
    }
    .deuxieme{
        padding-bottom: 10vh;
        margin-bottom: 15vh;
    }
    .deuxieme .block_texte{
        width: 96%;
        padding: 3vh 1vw;
        font-size: 10px;
    }
    .block_texte .cv{
        transform: none;
        top:0;
        left:100px;
        padding: 0;
        font-size: 18px;
        line-height: 5vh;
    }
    .contact{
        display:none;
    }
     /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
    /*-*@**  ----- FOOTER-----*@*-   */
    /*-*@**   <!--------------------->  -*@*-   */
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
    footer .container_footer .sous_container_footer {
        display: flex;
        flex-direction: column-reverse;
    }
    footer .container_footer .sous_container_footer2 .lien p{
        display:none;
    }
    footer .sous_container_footer .emoji img {
        bottom: 11px;
        left: 18%;
    }

    /* logo insta */
    footer .container_footer .sous_container_footer2 ul a .insta2{
        right:64%;
    }
    /* logo linkd */
    footer .container_footer .sous_container_footer2 ul a .linkd2 {
        right: 28%;
    }
    /* logo git */
    footer .container_footer .sous_container_footer2 ul a .git2 {
        right: 27%;
        top: 41%;
    }
    /* logo mail */
    footer .container_footer .sous_container_footer2 ul a .mail2 {
        right: 63%;
        top: 41%;
    }
    /* logo phone */
   
    

}
@media all and (max-width:435px){
    .premier {
        height: 70vh;
        margin-bottom: 12vh;
    }
    .slider {
        width: 17em;
        height: 12.75em;
        left: 50%;
        top: 40%;
    }
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*--/
    /*-*@**   <!------------------>     -*@*-   */
    /*-*@**  ----- FOOTER-----*@*-   */
    /*-*@**   <!--------------------->  -*@*-   */
    /* -*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*@*-*/
    
}

@media all and (max-width:330px){
    .premier {
        height: 55vh;
        margin-bottom: 10vh;
    }
    .slider {
        width: 14em;
        height: 9.75em;
    }
}

